@-webkit-keyframes btnFade {
    0%   { background: white; color: red; border: 1px solid black; }
	50%  { background: white; color: red; border: 1px solid gray; } 
    100% { background: red; color: white; border: 1px solid white; } 
}

@keyframes btnFade {
    0%   { background: white; color: black; border: 1px solid black; }
	50%  { background: #0080ff; color: white; border: 1px solid gray; } 
    100% { background: #0080ff; color: white; border: 1px solid white; } 
}


@-webkit-keyframes prevFade {
    0%   { background: #0080ff; color: white; border: 1px solid white; }
	50%  { background: white; color: black; border: 1px solid gray; } 
    100% { background: white; color: black; border: 1px solid black; } 
}

@keyframes prevFade {
    0%   { background: #0080ff; color: white; border: 1px solid white; }
	50%  { background: white; color: black; border: 1px solid gray; } 
    100% { background: white; color: black; border: 1px solid black; } 
}

@-webkit-keyframes expand {
    0%   { width: 15%; }
	50%  { width: 35%; } 
    100% { width: 45%; } 
}

@keyframes expand {
    0%   { width: 15%; }
	50%  { width: 35%; } 
    100% { width: 45%; } 
}

.printBtn {
	height: 38px;
	width: 68px;
	padding: 4px;
	//margin: 1px;
	//display: inline-block;
	float: right;
	color: white;
	border-radius: 4px;
	overflow: hidden;
	background: #0080ff;
	border: 1px solid white;
	vertical-align: text-bottom;
	
	&:hover {
	    -webkit-animation: prevFade .35s ease-out forwards;
	    animation: prevFade .35s ease-out forwards;
	};
}

.closeBtn {
	height: 32px;
	width: 32px;
	padding: 4px;
	margin: 1px;
	//display: inline-block;
	float: right;
	color: white;
	border-radius: 4px;
	overflow: hidden;
	background: #0080ff;
	border: 1px solid white;
	vertical-align: text-bottom;
	
	&:hover {
	    -webkit-animation: prevFade .35s ease-out forwards;
	    animation: prevFade .35s ease-out forwards;
	};
}

.closeAllBtn {
	height: 34px;
	width: 50px;
	padding: 4px;
	//margin: 1px;
	//display: inline-block;
	float: right;
	color: white;
	border-radius: 4px;
	overflow: hidden;
	background: #0080ff;
	border: 1px solid white;
	//vertical-align: text-bottom;
	vertical-align: top;
	
	&:hover {
	    -webkit-animation: prevFade .35s ease-out forwards;
	    animation: prevFade .35s ease-out forwards;
	};
}

.closeAllBtnHeader {
	height: 34px;
	width: 54px;
	padding: 4px;
	margin: -4px 10px 0px 0px;
	display: inline-block;
	float: right;
	color: white;
	border-radius: 4px;
	overflow: hidden;
	background: #0080ff;
	border: 1px solid white;
	//vertical-align: text-bottom;
	vertical-align: top;
	
	&:hover {
	    -webkit-animation: prevFade .35s ease-out forwards;
	    animation: prevFade .35s ease-out forwards;
	};
}

.aMenuButton {
    height: 60px;
    width: 150px;
    font-size: 14px;
    padding: 6px;
	overflow: hidden;
	background: white;
	margin: 2px;
	border: 1px solid black;
	vertical-align: text-bottom;
	border-radius: 2px;
	weight: 600;
	display: block;
	
	&:hover {
	    -webkit-animation: btnFade .35s ease-out forwards;
	    animation: btnFade .35s ease-out forwards;
	};
}

.aSectionButton {
    height: 50px;
    width: 500px;
    font-size: 14px;
    padding: 6px;
	overflow: hidden;
	background: white;
	margin: 2px 2px 2px 18px;
	border: 1px solid black;
	vertical-align: text-bottom;
	border-radius: 2px;
	weight: 600;
	display: block;
	
	&:hover {
	    -webkit-animation: btnFade .35s ease-out forwards;
	    animation: btnFade .35s ease-out forwards;
	};
}

.aPrevButton {
	color: white;
    height: 60px;
    width: 150px;
    font-size: 14px;
    padding: 6px;
	overflow: hidden;
	background: #0080ff;
	margin: 2px;
	border: 1px solid white;
	vertical-align: text-bottom;
	border-radius: 2px;
	display: block;
	
	
	&:hover {
	    -webkit-animation: prevFade .35s ease-out forwards;
	    animation: prevFade .35s ease-out forwards;
	};
}

.createButton {
    height: 60px;
    width: 150px;
    font-size: 14px;
    padding: 6px;
	overflow: hidden;
	background: white;
	margin: 2px;
	border: 1px solid black;
	vertical-align: text-bottom;
	border-radius: 2px;
	weight: 600;
	display: block;
	
	&:hover {
	    -webkit-animation: btnFade .35s ease-out forwards;
	    animation: btnFade .35s ease-out forwards;
	};
}

.toggleMenu {
    height: 26px;
    width: 80px;
    font-size: 10px;
    padding: 2px;
	overflow: hidden;
	background: white;
	margin: 1px;
	border: 1px solid black;
	vertical-align: text-bottom;
	border-radius: 4px;
	
	&:hover {
	    -webkit-animation: btnFade .35s ease-out forwards;
	    animation: btnFade .35s ease-out forwards;
	};
}

/**************************************************
	FORMS CSS
***************************************************/

.inputHlp {
	width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #0080ff;
    border-radius: 4px;
    box-sizing: border-box;
}

.inputSearch {
	width: 15%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #0080ff;
    border-radius: 4px;
    box-sizing: border-box;

    &:hover {
	    -webkit-animation: expand .55s ease-out forwards;
	    animation: expand .55s ease-out forwards;
	};
}

.txtInput {
    width: 100%;
    height: 250px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #0080ff;
    border-radius: 4px;
    background-color: #f8f8f8;
}

.txtSelect {
    width: 30%;
    padding: 10px 20px;
    border: 1px solid #0080ff;
    border-radius: 4px;
    background-color: #FFF;
}

.subBtn {
	height: 38px;
	width: 68px;
	padding: 4px;
	color: white;
	border-radius: 4px;
	overflow: hidden;
	background: #0080ff;
	border: 1px solid white;
	vertical-align: text-bottom;
	
	&:hover {
	    -webkit-animation: prevFade .35s ease-out forwards;
	    animation: prevFade .35s ease-out forwards;
	};
}